<div class="main">
  <hr />
  <app-nuevo-alumno (addAlumno)="newAlumno($event)" [alumnoToEdit]="alumnoToEdit"></app-nuevo-alumno>
  <hr />
  <app-listar-alumnos
    [listaDeAlumnos]="alumnos"
    (onClickAlumno)="setearAlumnoAModificar($event)"
    (onDeleteAlumno)="deleteAlumno($event)"
  ></app-listar-alumnos>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="editarAlumnoModal"
  tabindex="-1"
  aria-labelledby="editarAlumnoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="editarAlumnoModalLabel">
          Modificar Alumno
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-danger"></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          #closeModal
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
